<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <title>The Page Returned by Making Http Call to Node.js</title>
</head>
<body>
hello {{FullName}}<br/>
i didnt understand the ec2 issues on aws platform<br/>

<a  href="http://dani-test.moveodevelop.com/api/openurl?id={{mailID}}">can you help with the problem?</a> 
 
</body>
</html>