<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <title>The Page Returned by Making Http Call to Node.js</title>
</head>
<body>
hello {{FullName}}<br/>
whats up man?<br/>

<a  href="http://dani-test.moveodevelop.com/api/openurl?id={{mailID}}"><img src='https://image.shutterstock.com/image-vector/round-black-button-vector-illustration-260nw-1483485734.jpg'></a> 
 
</body>
</html>